# 📖 초보자를 위한 파이썬 300제
---
👉 [초보자를 위한 파이썬 300제](https://wikidocs.net/book/922)

## 01. 파이썬 시작하기

### 001. print 기초   
화면에 `Hello World` 문자열을 출력하세요.

In [1]:
print('Hello World')

Hello World

### 002. print 기초   
화면에 `Mary's cosmetics`을 출력하세요. (중간에 '가 있음에 주의하세요)

In [2]:
print("Mary's cosmetics")

Mary's cosmetics

### 003. print 기초   
화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)

`
신씨가 소리질렀다. "도둑이야".
`

In [3]:
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

### 004. print 기초   
화면에 `C:\Windows`를 출력하세요.

In [4]:
print("C:\Windows")

C:\Windows

### 005. print 탭과 줄바꿈   
다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

`print("안녕하세요.\n만나서\t\t반갑습니다.")`

In [10]:
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

\n : 줄 바꿈   
\t : 탭

### 006. print 여러 데이터 출력   
print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

`print ("오늘은", "일요일")`

오늘은일요일

In [12]:
print("정답 : ""오늘은","일요일")

정답 : 오늘은 일요일

### 007. print 기초   
print() 함수를 사용하여 다음과 같이 출력하세요.

`naver;kakao;sk;samsung`

In [13]:
print('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [14]:
print('naver','kakao','sk','samsung',sep=';')

naver;kakao;sk;samsung

### 008. print 기초
print() 함수를 사용하여 다음과 같이 출력하세요.

`naver/kakao/sk/samsung`

In [15]:
print('naver','kakao','sk','samsung',sep='/')

naver/kakao/sk/samsung

### 009. print 줄바꿈
다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

```print("first");print("second")```

In [17]:
print("first", end="");print("second")

firstsecond

### 010. 연산 결과 출력
5/3의 결과를 화면에 출력하세요.

In [18]:
print(5/3)

1.6666666666666667

## 02. 파이썬 변수

### 011. 변수 사용하기
삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [23]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

### 012. 변수 사용하기
다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

|항목|값|
|---|---|
|시가총액|298조|
|현재가|50,000원|
|PER|15.79|

In [25]:
시가총액 = '298조'
현재가 = 50000
PER = 15.79
print (시가총액, 현재가, PER)

298조 50000 15.79

### 013. 문자열 출력
변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

```
>> s = "hello"
>> t = "python"
```

두 변수를 이용하여 아래와 같이 출력해보세요.

```
실행 예:   
hello! python
```

In [31]:
s = "hello"
t = "python"

print(s+'!', t)

hello! python

### 014. 파이썬을 이용한 값 계산
아래 코드의 실행 결과를 예상해보세요.

`>> 2 + 2 * 3`

8

### 015. type 함수
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

```
>> a = 128
>> print (type(a))
<class 'int'>
```

아래 변수에 바인딩된 값의 타입을 판별해보세요.

```
>> a = "132"
```

In [33]:
a = "132"
print(type(a))

<class 'str'>

### 016. 문자열을 정수로 변환
문자열 '720'를 정수형으로 변환해보세요.
```
>> num_str = "720"
```

In [35]:
num_str = "720"
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

### 017. 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.

`num = 100`

In [38]:
num = 100
num_str = str(num)
print(num_str, type(num_str))

100 <class 'str'>

### 018. 문자열을 실수로 변환
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.

In [39]:
a = "15.79"
a_float = float(a)
print(a_float, type(a_float))

15.79 <class 'float'>

### 019. 문자열을 정수로 변환
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

```
year = "2020"
```

In [43]:
year = "2020"
year = int(year)
print(year-2, year-1, year)

2018 2019 2020

### 020. 파이썬 계산
에어컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [44]:
월가격 = 45584
할부기간 = 36
print('총 금액 : ', 월가격 * 할부기간)

총 금액 :  1641024

## 파이썬 문자열

### 021. 문자열 인덱싱
letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
```
>> letters = 'python'
```
```
실행 예   
p t
```

In [49]:
letters = 'python'
print(letters[0], letters[2])

p t

### 022. 문자열 슬라이싱
자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
```
>> license_plate = "24가 2210"
실행 예: 2210
```

In [54]:
license_plate = "24가 2210"
print(license_plate[4:])

2210

### 023. 문자열 인덱싱
아래의 문자열에서 '홀' 만 출력하세요.
```
>> string = "홀짝홀짝홀짝"
```
```
실행 예:
홀홀홀
```

In [56]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

### 024. 문자열 슬라이싱
문자열을 거꾸로 뒤집어 출력하세요.
```
>> string = "PYTHON"
```
```
실행 예:
NOHTYP
```

In [58]:
string = "PYTHON"
print(string[::-1])

NOHTYP

### 025. 문자열 치환
아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
```
>> phone_number = "010-1111-2222"
```
```
실행 예
010 1111 2222
```

In [59]:
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

010 1111 2222

### 026. 문자열 다루기
25번 문제의 전화번호를 아래와 같이 모두 붙여 출력하세요.
```
실행 예
01011112222
```

In [60]:
print(phone_number.replace("-",""))

01011112222

### 027. 문자열 다루기
url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
```
>> url = "http://sharebook.kr"
```
```
실행 예:
kr
```

In [62]:
url = "http://sharebook.kr"
url[-2:]

'kr'

### 028. 문자열은 immutable
아래 코드의 실행 결과를 예상해보세요.
```
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)
```

python

### 029. replace 메서드
아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.

```
>> string = 'abcdfe2a354a32a'
```
```
실행 예:
Abcdfe2A354A32A
```

In [66]:
string = 'abcdfe2a354a32a'
a = string.replace("a", "A")
print(a)

Abcdfe2A354A32A

### 030. replace 메서드
아래 코드의 실행 결과를 예상해보세요.
```
>> string = 'abcd'
>> string.replace('b', 'B')
>> print(string)
```

abcd    
aBcd가 되려면 replace를 사용한 구문을 다른 변수에 넣어줘야 함

### 031. 문자열 합치기
아래 코드의 실행 결과를 예상해보세요.
```
>> a = "3"
>> b = "4"
>> print(a + b)
```

34

### 032. 문자열 곱하기
아래 코드의 실행 결과를 예상해보세요.
```
>> print("Hi" * 3)
```

HiHiHi

### 033. 문자열 곱하기
화면에 '-'를 80개 출력하세요.
```
실행 예:
--------------------------------------------------------------------------------
```

In [69]:
print('-' * 80)

--------------------------------------------------------------------------------

### 034. 문자열 곱하기
변수에 다음과 같은 문자열이 바인딩되어 있습니다.
```
>>> t1 = 'python'
>>> t2 = 'java'
```
변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.
```
실행 예:
python java python java python java python java
```

In [73]:
t1 = 'python'
t2 = 'java'
print((t1 + ' ' + t2 + ' ') * 4)

python java python java python java python java

### 035. 문자열 출력
변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
```
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
```
```
이름: 김민수 나이: 10
이름: 이철희 나이: 13
```

In [4]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름 : %s 나이 : %d" % (name1, age1))
print("이름 : %s 나이 : %d" % (name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 036. 문자열 출력
문자열의 format( ) 메서드를 사용해서 035번 문제를 다시 풀어보세요.

In [5]:
print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {0} 나이 : {1}".format("이철희", 13))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 037. 문자열 출력
파이썬 3.6부터 지원하는 f-string을 사용해서 035번 문제를 다시 풀어보세요.

In [8]:
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

### 038. 컴마 제거하기
삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
```
상장주식수 = "5,969,782,550"
```

In [15]:
상장주식수 = "5,969,782,550"
리스트 = 상장주식수.split(',')
문자열 = ''.join(리스트)
숫자 = int(문자열)
print(숫자, type(숫자))

5969782550 <class 'int'>

In [16]:
# 정답 코드

상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

### 039. 문자열 슬라이싱
다음과 같은 문자열에서 '2020/03'만 출력하세요.
```
분기 = "2020/03(E) (IFRS연결)"
```

In [24]:
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

### 040. strip 메서드
문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
```
data = "   삼성전자    "
```

In [25]:
data = "   삼성전자    "
print(data.strip())

삼성전자

### 041. upper 메서드
다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
```
ticker = "btc_krw"
```

In [26]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

### 042. lower 메서드
다음과 같은 문자열이 있을 때 이를 소문자 btc_krw로 변경하세요.
```
ticker = "BTC_KRW"
```

In [27]:
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

### 043. capitalize 메서드
문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [29]:
text = "hello"
print(text.capitalize())

Hello

### 044. endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx'로 끝나는지 확인해보세요.
```
file_name = "보고서.xlsx"
```

In [30]:
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

### 045. endswith 메서드
파일 이름이 문자열로 저장되어 있을 때 endswith 메서드를 사용해서 파일 이름이 'xlsx' 또는 'xls'로 끝나는지 확인해보세요.
```
file_name = "보고서.xlsx"
```

In [35]:
file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx","xls")))

True

### 046. startswith 메서드
파일 이름이 문자열로 저장되어 있을 때 startswith 메서드를 사용해서 파일 이름이 '2020'로 시작하는지 확인해보세요.
```
file_name = "2020_보고서.xlsx"
```

In [36]:
file_name = "2020_보고서.xlsx"
print(file_name.startswith('2020'))

True

### 047. split 메서드
다음과 같은 문자열이 있을 때 공백을 기준으로 문자열을 나눠보세요.
```
a = "hello world"
```

In [37]:
a = "hello world"
print(a.split(' '))

['hello', 'world']

### 048. split 메서드
다음과 같이 문자열이 있을 때 btc와 krw로 나눠보세요.
```
ticker = "btc_krw"
```

In [38]:
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

### 049. split 메서드
다음과 같이 날짜를 표현하는 문자열이 있을 때 연도, 월, 일로 나눠보세요.
```
date = "2020-05-01"
```

In [39]:
date = "2020-05-01"
print(date.split('-'))

['2020', '05', '01']

### 050. rstrip 메서드
문자열의 오른쪽에 공백이 있을 때 이를 제거해보세요.
```
data = "039490     "
```

In [40]:
data = "039490     "
print(data.rstrip())

039490

## 파이썬 리스트

### 051. 리스트 생성
2016년 11월 영화 예매 순위 기준 top3는 다음과 같습니다. 영화 제목을 movie_rank 이름의 리스트에 저장해보세요. (순위 정보는 저장하지 않습니다.)

|순위|영화|
|---|---|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [43]:
movie_rank = ['닥터 스트레인지', '스플릿', '럭키']
print(movie_rank, type(movie_rank))

['닥터 스트레인지', '스플릿', '럭키'] <class 'list'>

### 052. 리스트에 원소 추가
051의 movie_rank 리스트에 "배트맨"을 추가하라.

In [48]:
movie_rank.append('배트맨')
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

### 053. 리스트에 원소 추가
movie_rank 리스트에는 아래와 같이 네 개의 영화 제목이 바인딩되어 있다. "슈퍼맨"을 "닥터 스트레인지"와 "스플릿" 사이에 추가하라.
```
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
```

In [51]:
movie_rank.insert(1, '슈퍼맨')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

### 054. 리스트에서 원소 제거
movie_rank 리스트에서 '럭키'를 삭제하라.
```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
```

In [54]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

### 055. 리스트에서 원소 제거
movie_rank 리스트에서 '스플릿' 과 '배트맨'을 를 삭제하라.
```
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
```

In [56]:
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[3]
del movie_rank[2]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

### 056. 두 개의 리스트 합집합 만들기
lang1과 lang2 리스트가 있을 때 lang1과 lang2의 원소를 모두 갖고 있는 langs 리스트를 만들어라.
```
>> lang1 = ["C", "C++", "JAVA"]
>> lang2 = ["Python", "Go", "C#"]
```
```
실행 예:
>> langs
['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']
```

In [57]:
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
langs = lang1 + lang2
print(langs)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

### 057. 최댓값, 최솟값 구하기
다음 리스트에서 최댓값과 최솟값을 출력하라. (힌트: min(), max() 함수 사용)
```
nums = [1, 2, 3, 4, 5, 6, 7]
```
```
실행 예:
max:  7
min:  1
```

In [59]:
nums = [1, 2, 3, 4, 5, 6, 7]
print('max: ', max(nums))
print('min: ', min(nums))

max:  7
min:  1

### 058. 리스트의 합 구하기
다음 리스트의 합을 출력하라.
```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
15
```

In [60]:
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

### 059. 리스트의 개수 구하기
다음 리스트에 저장된 데이터의 개수를 화면에 구하하라.
```
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
```

In [62]:
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

### 060. 리스트의 평균 구하기
다음 리스트의 평균을 출력하라.
```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
3.0
```

In [64]:
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0

### 061. 리스트 슬라이싱
price 변수에는 날짜와 종가 정보가 저장돼 있다. 날짜 정보를 제외하고 가격 정보만을 출력하라. (힌트 : 슬라이싱)
```
price = ['20180728', 100, 130, 140, 150, 160, 170]
```
```
출력 예시:
[100, 130, 140, 150, 160, 170]
```

In [66]:
price = ['20180728', 100, 130, 140, 150, 160, 170]
print(price[1:])

[100, 130, 140, 150, 160, 170]

### 062. 리스트 슬라이싱
슬라이싱을 사용해서 홀수만 출력하라.
```
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
```
실행 예:
[1, 3, 5, 7, 9]
```

In [68]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[::2])

[1, 3, 5, 7, 9]

### 063. 리스트 슬라이싱
슬라이싱을 사용해서 짝수만 출력하라.
```
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
```
```
실행 예:
[2, 4, 6, 8, 10]
```

In [70]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(nums[1::2])

[2, 4, 6, 8, 10]

### 064. 리스트 역 방향으로 출력하기
슬라이싱을 사용해서 리스트의 숫자를 역 방향으로 출력하라.
```
nums = [1, 2, 3, 4, 5]
```
```
실행 예:
[5, 4, 3, 2, 1]
```

In [73]:
nums = [1, 2, 3, 4, 5]
print(nums[::-1])

[5, 4, 3, 2, 1]

### 065. 원하는 값 출력하기
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 Naver
```

In [75]:
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

### 066. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자 LG전자 Naver SK하이닉스 미래에셋대우
```

In [76]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(interest[0], interest[1], interest[2], interest[3], interest[4])

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [78]:
# 정답
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

### 067. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
interest 리스트를 사용하여 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우
```

In [79]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

### 068. join 메서드
interest 리스트에는 아래의 데이터가 바인딩되어 있다.
```
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
```
join() 메서드를 사용해서 interest 리스트를 아래와 같이 화면에 출력하라.
```
출력 예시:
삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우
```

In [80]:
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

### 069. 문자열 split 메서드
회사 이름이 슬래시 ('/')로 구분되어 하나의 문자열로 저장되어 있다.
```
string = "삼성전자/LG전자/Naver"
```
이를 interest 이름의 리스트로 분리 저장하라.
```
실행 예시
>> print(interest)
['삼성전자', 'LG전자', 'Naver']
```

In [81]:
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

### 070. 리스트 정렬
리스트에 있는 값을 오름차순으로 정렬하세요.
```
data = [2, 4, 3, 1, 5, 10, 9]
```

In [86]:
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [87]:
# 추가 답안
data = [2, 4, 3, 1, 5, 10, 9]
data2 = sorted(data)
print(data2)

[1, 2, 3, 4, 5, 9, 10]

## 파이썬 튜플

### 071. 튜플 만들기
my_variable 이름의 비어있는 튜플을 만들라.

In [90]:
my_variable = ()
print(my_variable, type(my_variable))

() <class 'tuple'>

### 072. 튜플 만들기
2016년 11월 영화 예매 순위 기준 top3는 다음과 같다. 영화 제목을 movie_rank 이름의 튜플에 저장하라. (순위 정보는 저장하지 않는다.)

|순위|영화|
|---|---|
|1|닥터 스트레인지|
|2|스플릿|
|3|럭키|

In [92]:
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank)

('닥터 스트레인지', '스플릿', '럭키')

### 073. 튜플 만들기
숫자 1 이 저장된 튜플을 생성하라.

In [94]:
a = (1, )
print(a, type(a))

(1,) <class 'tuple'>

### 074. immutable
다음 코드를 실행해보고 오류가 발생하는 원인을 설명하라.
```
>> t = (1, 2, 3)
>> t[0] = 'a'
Traceback (most recent call last):
  File "<pyshell#46>", line 1, in <module>
    t[0] = 'a'
TypeError: 'tuple' object does not support item assignment
```

In [97]:
t = (1, 2, 3)
t[0] = 'a'

# 튜플은 원소 값을 변경할 수 없기 때문에 오류가 발생함

TypeError: 'tuple' object does not support item assignment

### 075. 데이터 타입 확인하기
아래와 같이 t에는 1, 2, 3, 4 데이터가 바인딩되어 있다. t가 바인딩하는 데이터 타입은 무엇인가?
```
t = 1, 2, 3, 4
```

In [99]:
t = 1, 2, 3, 4
print(type(t))

# 튜플은 괄호가 없어도 동작함

<class 'tuple'>

### 076. 튜플 원소 값 수정하기
변수 t에는 아래와 같은 값이 저장되어 있다. 변수 t가 ('A', 'b', 'c') 튜플을 가리키도록 수정 하라.
```
t = ('a', 'b', 'c')
```

In [100]:
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t)

('A', 'b', 'c')

### 077. 튜플을 리스트로 변환하기
다음 튜플을 리스트로 변환하라.
```
interest = ('삼성전자', 'LG전자', 'SK Hynix')
```

In [103]:
interest = ('삼성전자', 'LG전자', 'SK Hynix')
data = list(interest)
print(data, type(data))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

### 078. 리스트를 튜플로 변환하기
다음 리스트를 튜플로 변경하라.
```
interest = ['삼성전자', 'LG전자', 'SK Hynix']
```

In [104]:
interest = ['삼성전자', 'LG전자', 'SK Hynix']
data = tuple(interest)
print(data, type(data))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

### 079. 튜플 언팩킹
다음 코드의 실행 결과를 예상하라.
```
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)
```

In [107]:
# 모르겠어서 답 봄

temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

# apple, banana, cake

apple banana cake

### 080. range 함수
1 부터 99까지의 정수 중 짝수만 저장된 튜플을 생성하라.
```
(2, 4, 6, 8 ... 98)
```

In [108]:
# range(값)
# range(시작 값, 끝 값 + 1)
# range(시작 값, 끝 값 + 1, 간격)

a = tuple(range(2,100,2))
print(a, type(a))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98) <class 'tuple'>

## 파이썬 딕셔너리

### 081. 별 표현식
기본적으로 데이터 언패킹은 좌변의 변수와 우변 데이터 개수가 같아야 합니다. 하지만 star expression을 사용하면 변수의 개수가 달라도 데이터 언패킹을 할 수 있습니다. 튜플에 저장된 데이터 중에서 앞에 있는 두 개의 데이터만 필요할 경우 나머지 데이터의 언패킹 코드를 작성할 필요가 없습니다.
```
>> a, b, *c = (0, 1, 2, 3, 4, 5)
>> a
0
>> b
1
>> c
[2, 3, 4, 5]
```
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, star expression을 사용하여 좌측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [7]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, b, c = scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

### 082. 별 표현식
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, star expression을 사용하여 우측 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [10]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

### 083. 별 표현식
다음과 같이 10개의 값이 저장된 scores 리스트가 있을 때, start expression을 사용하여 가운데 있는 8개의 값을 valid_score 변수에 바인딩하여라.
```
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
```

In [11]:
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

### 084. 비어있는 딕셔너리
temp 이름의 비어있는 딕셔너리를 만들라.

In [13]:
temp = {}
print(temp, type(temp))

{} <class 'dict'>

### 085. 딕셔너리 활용
다음 아이스크림 이름과 희망 가격을 딕셔너리로 구성하라.

|이름|희망 가격|
|---|---|
|메로나|1000|
|폴라포|1200|
|빵빠레|1800|

In [17]:
icecream = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(icecream, type(icecream))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800} <class 'dict'>

### 086. 딕셔너리에 값 추가하기
085 번의 딕셔너리에 아래 아이스크림 가격정보를 추가하라.

|이름|희망 가격|
|---|---|
|죠스바|1200|
|월드콘|1500|

In [20]:
icecream["죠스바"] = 1200
icecream["월드콘"] = 1500
print(icecream, type(icecream))

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500} <class 'dict'>

### 087. 딕셔너리 값 추출하기
다음 딕셔너리를 사용하여 메로나 가격을 출력하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```
```
실행 예:
메로나 가격: 1000
```

In [27]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
print("메로나 가격: ", ice['메로나'])

메로나 가격:  1000

### 088. 딕셔너리 값 수정하기
다음 딕셔너리에서 메로나의 가격을 1300으로 수정하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [30]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
print(ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 089. 딕셔너리 값 삭제하기
다음 딕셔너리에서 메로나를 삭제하라.
```
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
```

In [31]:
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
print(ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

### 090
다음 코드에서 에러가 발생한 원인을 설명하라.
```
>> icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
>> icecream['누가바']
Traceback (most recent call last):
  File "<pyshell#69>", line 1, in <module>
    icecream['누가바']
KeyError: '누가바'
```

icecream 이라는 딕셔너리에 '누가바'라는 key가 존재하지 않기 때문에 에러가 발생함

### 091. 딕셔너리 생성
아래의 표에서, 아이스크림 이름을 키값으로, (가격, 재고) 리스트를 딕셔너리의 값으로 저장하라. 딕셔너리의 이름은 inventory로 한다.

|이름|가격|재고|
|---|---|---|
|메로나|300|20|
|비비빅|400|3|
|죠스바|250|100|

In [32]:
inventory = {'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}
print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]} <class 'dict'>

### 092. 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 가격을 화면에 출력하라.
```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
```
실행 예시:
300 원
```

In [33]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0], "원")

300 원

### 093. 딕셔너리 인덱싱
inventory 딕셔너리에서 메로나의 재고를 화면에 출력하라.
```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
```
실행 예시:
20 개
```

In [35]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][1], "개")

20 개

### 094. 딕셔너리 추가
inventory 딕셔너리에 아래 데이터를 추가하라.
```
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
```
|이름|가격|재고|
|---|---|---|
|월드콘|500|7|

In [36]:
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory['월드콘'] = [500, 7]
print(inventory, type(inventory))

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]} <class 'dict'>

### 095. 딕셔너리 keys() 메서드
다음의 딕셔너리로부터 key 값으로만 구성된 리스트를 생성하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

In [41]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
keys = icecream.keys()
print(list(keys), type(list(keys)))

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'] <class 'list'>

### 096. 딕셔너리 values() 메서드
다음의 딕셔너리에서 values 값으로만 구성된 리스트를 생성하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```

In [42]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
values = icecream.values()
print(list(values), type(list(values)))

[1200, 1200, 1800, 1500, 1000] <class 'list'>

### 097. 딕셔너리 values() 메서드
icecream 딕셔너리에서 아이스크림 판매 금액의 총합을 출력하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
```
```
출력 예시:
6700
```

In [44]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
price = list(icecream.values())
print(sum(price))

6700

### 098. 딕셔너리 update 메서드
아래의 new_product 딕셔너리를 다음 icecream 딕셔너리에 추가하라.
```
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
```
```
실행 예시:
>> print(icecream)
{'탱크보이': 1200,  '폴라포': 1200,  '빵빠레': 1800,  '월드콘': 1500,  '메로나': 1000,  '팥빙수':2700, '아맛나':1000}
```

In [45]:
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

### 099. zip과 dict
아래 두 개의 튜플을 하나의 딕셔너리로 변환하라. keys를 키로, vals를 값으로 result 이름의 딕셔너리로 저장한다.
```
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
```
```
실행 예시:
>> print(result)
{'apple': 300, 'pear': 250, 'peach': 400}
```

In [51]:
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result, type(result))

{'apple': 300, 'pear': 250, 'peach': 400} <class 'dict'>

### 100. zip과 dict
date와 close_price 두 개의 리스트를 close_table 이름의 딕셔너리로 생성하라.
```
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
```
```
실행 예시:
>> print(close_table)
{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}
```

In [52]:
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table, type(close_table))

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000} <class 'dict'>

### 101. boolean
파이썬에서 True 혹은 False를 갖는 데이터 타입은 무엇인가?

boolean, 'bool' 타입

### 102. 비교연산자
아래 코드의 출력 결과를 예상하라
```
print(3 == 5)
```

False

### 103. 비교연산자
아래 코드의 출력 결과를 예상하라
```
print(3 < 5)
```

True

### 104. 비교연산자
아래 코드의 결과를 예상하라.
```
x = 4
print(1 < x < 5)
```

True

### 105. 비교연산자
아래 코드의 결과를 예상하라.
```
print ((3 == 3) and (4 != 3))
```

True

### 106. 비교연산자
아래 코드에서 에러가 발생하는 원인에 대해 설명하라.
```
print(3 => 4)
```

비교연산자를 입력할 때에는 '='은 '>', '<' 뒤에 위치해야 한다.

### 107. if문
아래 코드의 출력 결과를 예상하라
```
if 4 < 3:
    print("Hello World")
```

조건절이 False이므로 아무 값도 출력되지 않는다.

### 108. if문
아래 코드의 출력 결과를 예상하라
```
if 4 < 3:
    print("Hello World.")
else:
    print("Hi, there.")
```

조건절이 False이므로 else에 적힌 "Hi, there." 이라는 문자열이 출력된다.

### 109. if문
아래 코드의 출력 결과를 예상하라
```
if True :
    print ("1")
    print ("2")
else :
    print("3")
print("4")
```

조건절이 True이므로, 1과 2가 출력되고, 조건문 밖의 `print("4")`가 실행되어 4도 출력된다.
따라서 1, 2, 4가 출력된다.

### 110. if문
아래 코드의 출력 결과를 예상하라
```
if True :
    if False:
        print("1")
        print("2")
    else:
        print("3")
else :
    print("4")
print("5")
```

첫번째 if문의 조건절이 True이므로   
```
if False:
        print("1")
        print("2")
    else:
        print("3")
```
이 실행된다.   
두번째 if문의 조건절이 False이므로   
else에 적힌 `print("3")`이 실행된다.   
마지막으로 if문 바깥의 `print("5")`가 실행된다.   
   
따라서 3, 5가 출력된다.

### 111. input
사용자로부터 입력받은 문자열을 두 번 출력하라. 아래는 사용자가 "안녕하세요"를 입력한 경우의 출력 결과이다.
```
>> 안녕하세요
안녕하세요안녕하세요
```

In [1]:
text = input("입력란: ")
print(text * 2)

입력란: 안녕하세요
안녕하세요안녕하세요

### 112. input
사용자로부터 하나의 숫자를 입력받고, 입력 받은 숫자에 10을 더해 출력하라.
```
>> 숫자를 입력하세요: 30
40
```

In [2]:
number = input("숫자를 입력해주세요: ")
print(int(number) + 10)

숫자를 입력해주세요: 30
40

### 113. if문
사용자로부터 하나의 숫자를 입력 받고 짝수/홀수를 판별하라.
```
>> 30
짝수
```

In [4]:
number = int(input("숫자를 입력해주세요: "))
if number % 2 == 1:
    print("홀수")
else:
    print("짝수")

숫자를 입력해주세요: 33
홀수

### 114. if문
사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.
```
>> 입력값: 200
출력값: 220
```
```
>> 입력값: 240
출력값: 255
```

In [5]:
number = int(input("숫자를 입력해주세요: "))
if number + 20 > 255:
    print(255)
else:
    pirnt(number + 20)

숫자를 입력해주세요: 240
255

### 115. elif문
사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.
```
>> 입력값: 200
출력값: 180
```
```
>> 입력값: 15
출력값: 0
```

In [6]:
number = int(input("숫자를 입력해주세요: "))
if number - 20 > 255:
    print(255)
elif number - 20 > 0:
    print(number - 20)
else:
    print(0)

숫자를 입력해주세요: 21
1

### 116. if문
사용자로부터 입력 받은 시간이 정각인지 판별하라.
```
>> 현재시간:02:00
정각 입니다.
```
```
>> 현재시간:03:10
정각이 아닙니다.
```

In [15]:
time = input('시간을 입력해주세요: ')
if time[-2:] == "00":
    print("정각 입니다.")
else:
    print("정각이 아닙니다.")

시간을 입력해주세요: 10:00
정각 입니다.

### 117. in/not in
사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
```
fruit = ["사과", "포도", "홍시"]
```
```
>> 좋아하는 과일은? 사과
정답입니다.
```

In [7]:
text = input("과일 이름을 입력해주세요: ")
fruit = ["사과", "포도", "홍시"]
if text in fruit:
    print("정답입니다")
else:
    print("오답입니다")

과일 이름을 입력해주세요: 포도
정답입니다

### 118. in/not in
투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라.
```
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
```

In [8]:
text = input("투자 종목명을 입력해주세요: ")
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]
if text in warn_investment_list:
    print("투자 경고 종목입니다")
else:
    print("투자 경고 종목이 아닙니다")

투자 종목명을 입력해주세요: google
투자 경고 종목이 아닙니다

### 119. in/not in
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
```
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
```
```
>> 제가 좋아하는 계절은: 봄
정답입니다.
```

In [12]:
text = input("제가 좋아하는 계절은: ")
season = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if text in season.keys():
    print("정답입니다")
else:
    print("오답입니다")
    
# key의 경우, keys()를 사용하지 않아도 비교할 수 있음. value는 아님

제가 좋아하는 계절은: 봄
정답입니다

### 120. in/not in
아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.
```
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
```
```
>> 좋아하는과일은? 한라봉
오답입니다.
```

In [11]:
text = input("제가 좋아하는 계절은: ")
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}
if text in fruit.values():
    print("정답입니다")
else:
    print("오답입니다")

제가 좋아하는 계절은: 오이
오답입니다

### 121. 
사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라.
```
>> a
A
```
힌트-1 : islower() 함수는 문자의 소문자 여부를 판별합니다. 만약 소문자일 경우 True, 대문자일 경우 False를 반환합니다.   
힌트-2 : upper() 함수는 대문자로, lower() 함수는 소문자로 변경합니다.

In [18]:
alphabet = input('한개의 알파벳을 입력해주세요: ')
if alphabet.islower():
    print(alphabet.upper())
else:
    print(alphabet.lower())

한개의 알파벳을 입력해주세요: B
b

### 122. 
점수 구간에 해당하는 학점이 아래와 같이 정의되어 있다. 사용자로부터 score를 입력받아 학점을 출력하라.

점수|학점
---|---
81~100|A
61~80|B
41~60|C
21~40|D
0~20|E
```
>> score: 83
grade is A
```

In [23]:
score = int(input('점수를 입력해주세요: '))
if score >= 81:
    print('A')
elif score >= 61:
    print('B')
elif score >= 41:
    print('C')
elif score >= 21:
    print('D')
else:
    print('E')

점수를 입력해주세요: 88
A

### 123.
사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

통화명|환율
---|---
달러|1167
엔|1.096
유로|1268
위안|171
```
>> 입력: 100 달러
116700.00 원
```

In [25]:
money = input("금액을 입력해주세요: ")
splited = money.split(' ') 
if splited[1] == '달러':
    print(int(splited[0]) * 1167, '원')
elif splited[1] == '엔':
    print(int(splited[0]) * 1.096, '원')
elif splited[1] == '유로':
    print(int(splited[0]) * 1268, '원')
elif splited[1] == '위안':
    print(int(splited[0]) * 171, '원')
else:
    print('환율 계산이 불가한 입력값입니다.')

금액을 입력해주세요: 100 유로
126800 원

### 124.
사용자로부터 세 개의 숫자를 입력 받은 후 가장 큰 숫자를 출력하라.
```
>> input number1: 10
>> input number2: 9
>> input number3: 20
20
```

In [26]:
num1 = int(input("input number1: "))
num2 = int(input("input number2: "))
num3 = int(input("input number3: "))

print(max(num1, num2, num3))

input number1: 5
input number2: 1
input number3: 8
8

### 125.
휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다. 사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호|통신사
---|---
011|SKT
016|KT
019|LGU
010|알수없음
```
>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.
```

In [2]:
phone = input('휴대전화 번호를 입력해주세요: ').split('-')
if phone[0] == '011':
    print('당신은 SKT 사용자입니다.')
elif phone[0] == '016':
    print('당신은 KT 사용자입니다.')
elif phone[0] == '019':
    print('당신은 LGU 사용자입니다.')
elif phone[0] == '010':
    print('알수없음')

휴대전화 번호를 입력해주세요: 010-111-1111
알수없음

### 126.
우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

-|0|1|2|3|4|5|6|7|8|9
---|---|---|---|---|---|---|---|---|---|---
01|강북구|강북구|강북구|도봉구|도봉구|도봉구|노원구|노원구|노원구|노원구

사용자로 부터 5자리 우편번호를 입력받고 구를 판별하라
```
>> 우편번호: 01400
도봉구
```

In [6]:
post = input('우편번호: ')
third = int(post[2:3])
if third in [0, 1, 2]:
    print('강북구')
elif third in [3, 4, 5]:
    print('도봉구')
else:
    print('노원구')

우편번호: 01234
강북구

### 127.
주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.
```
>> 주민등록번호: 821010-1635210
남자
```

In [7]:
id = input('주민번호: ')
sex = int(id[7:8])
if sex in [1, 3]:
    print('남자')
elif sex in [2, 4]:
    print('여자')

주민번호: 111111-34444444
남자

### 128.
주민등록번호의 뒷 자리 7자리 중 두번째와 세번째는 지역코드를 의미한다. 주민 등록 번호를 입력 받은 후 출생지가 서울인지 아닌지 판단하는 코드를 작성하라

지역코드|출생지
---|---
00 ~ 08|서울
09 ~ 12|부산
```
>> 주민등록번호: 821010-1635210
서울이 아닙니다.
```
```
>> 주민등록번호: 861010-1015210
서울 입니다.
```

In [8]:
id = input('주민번호: ')
region = int(id[8:10])
if region <=8:
    print('서울 입니다.')
else:
    print('서울이 아닙니다.')

주민번호: 111111-111111
서울이 아닙니다.

### 129.
주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.
```
  8 2 1 0 1 0 - 1 6 3 5 2 1 0
x 2 3 4 5 6 7   8 9 2 3 4 5 
-----------------------------
1차 계산: (8*2 + 2*3 + 1*4 + 0*5 + 1*6 + 0*7 + 1*8 + 6*9 + 3*2 + 5*3 + 2*4 + 1*5) = (128 % 11) = 7
2차 계산: 11 -7 = 4
```
위와 같이 821010-1635210에 대해서 계산을 해보면 마지막 자리는 4가 되어야 함을 알 수 있다. 즉, 821010-1635210은 유효하지 않은 주민등록번호임을 알 수 있다.

다음과 같이 사용자로부터 주민등록번호를 입력받은 후 주민등록번호가 유효한지를 출력하는 프로그램을 작성하라.
```
>> 주민등록번호: 821010-1635210
유효하지 않은 주민등록번호입니다.
```

In [10]:
id = input('주민번호: ')
check_id = int(id[0])*2 + int(id[1])*3 + int(id[2])*4 + int(id[3])*5 + int(id[4])*6 + int(id[5])*7 + int(id[7])*8 + int(id[8])*9 + int(id[9])*2 + int(id[10])*3 + int(id[11])*4 + int(id[12])*5
if 11 - (check_id % 11) == int(id[13]):
    print('유효한 주민등록번호입니다.')
else:
    print('유효하지 않은 주민등록번호입니다.')

주민번호: 111111-1111111
유효하지 않은 주민등록번호입니다.

### 130.
아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
```
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
```
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

Key Name|Description
---|---
opening_price|최근 24시간 내 시작 거래금액
closing_price|최근 24시간 내 마지막 거래금액
min_price|최근 24시간 내 최저 거래금액
max_price|최근 24시간 내 최고 거래금액

In [11]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

high_low = float(btc['opening_price']) + (float(btc['max_price']) - float(btc['min_price']))
if high_low > float(btc['max_price']):
    print('상승장')
else:
    print('하락장')

상승장

### 131.
for문의 실행결과를 예측하라.
```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
```

사과, 귤, 수박이 순서대로 출력된다.

### 132.
for문의 실행결과를 예측하라.
```
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")
```

print 안의 #####가 세번 출력된다.

### 133.
다음 for 문과 동일한 기능을 수행하는 코드를 작성하세요.
```
for 변수 in ["A", "B", "C"]:
  print(변수)
```

```
print('A')
print('B')
print('C')
```