# 📖 초보자를 위한 파이썬 300제
---
👉 [초보자를 위한 파이썬 300제](https://wikidocs.net/book/922)

## 파이썬 함수

### 201.
"비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라.

In [6]:
def print_coin() :
    print('비트코인')

### 202.
201번에서 정의한 함수를 호출하라.

In [7]:
print_coin()

비트코인

### 203.
201번에서 정의한 print_coin 함수를 100번호출하라.

In [12]:
for i in range(100):
    print(i+1)
    print_coin()

1
비트코인
2
비트코인
3
비트코인
4
비트코인
5
비트코인
6
비트코인
7
비트코인
8
비트코인
9
비트코인
10
비트코인
11
비트코인
12
비트코인
13
비트코인
14
비트코인
15
비트코인
16
비트코인
17
비트코인
18
비트코인
19
비트코인
20
비트코인
21
비트코인
22
비트코인
23
비트코인
24
비트코인
25
비트코인
26
비트코인
27
비트코인
28
비트코인
29
비트코인
30
비트코인
31
비트코인
32
비트코인
33
비트코인
34
비트코인
35
비트코인
36
비트코인
37
비트코인
38
비트코인
39
비트코인
40
비트코인
41
비트코인
42
비트코인
43
비트코인
44
비트코인
45
비트코인
46
비트코인
47
비트코인
48
비트코인
49
비트코인
50
비트코인
51
비트코인
52
비트코인
53
비트코인
54
비트코인
55
비트코인
56
비트코인
57
비트코인
58
비트코인
59
비트코인
60
비트코인
61
비트코인
62
비트코인
63
비트코인
64
비트코인
65
비트코인
66
비트코인
67
비트코인
68
비트코인
69
비트코인
70
비트코인
71
비트코인
72
비트코인
73
비트코인
74
비트코인
75
비트코인
76
비트코인
77
비트코인
78
비트코인
79
비트코인
80
비트코인
81
비트코인
82
비트코인
83
비트코인
84
비트코인
85
비트코인
86
비트코인
87
비트코인
88
비트코인
89
비트코인
90
비트코인
91
비트코인
92
비트코인
93
비트코인
94
비트코인
95
비트코인
96
비트코인
97
비트코인
98
비트코인
99
비트코인
100
비트코인

### 204.
"비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라.

In [14]:
def print_coins() :
    for i in range(100):
        print('비트코인')

### 205.
아래의 에러가 발생하는 이유에 대해 설명하라.
```
hello()
def hello():
    print("Hi")
```

hello() 라는 함수가 선언되기 전에 사용했기 때문에 에러가 발생한다.

### 206.
아래 코드의 실행 결과를 예측하라.
```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

A -> B -> C -> A -> B

### 207.
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")

def message() :
    print("B")

print("C")
message()
```

A -> C -> B

### 208.
아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

A -> C -> B -> E -> D

### 209.
아래 코드의 실행 결과를 예측하라.
```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

B -> A

### 210.
아래 코드의 실행 결과를 예측하라.
```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()
```

B -> C -> B -> C -> B -> C -> A

### 211.
함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

"안녕" -> "Hi"

### 212.
함수의 호출 결과를 예측하라.
```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

7 -> 15

### 213.
아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(문자열) :
    print(문자열)
```
```
함수()
TypeError: 함수() missing 1 required positional argument: '문자열'
```

함수를 정의할 때, 문자열이라는 파라미터를 설정했으나, 함수를 실행할 때, 인자를 넣어주지 않았기 때문에 오류가 발생한다.

### 214.
아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```
```
TypeError: must be str, not int
```

두개의 파라미터의 타입을 정의하지 않았기 때문에 같은 타입의 인자를 넣어줘야 한다. 문자열과 숫자 타입을 입력했기 때문에 에러가 발생한다.

### 215.
하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [5]:
def print_with_smile(txt) :
    print(txt, ":D")

### 216.
215에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [6]:
print_with_smile("안녕하세요")

안녕하세요 :D

### 217.
현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [7]:
def print_upper_price(price) :
    print(price * 1.3)

### 218.
두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [8]:
def print_sum(a, b) :
    print(a + b)

### 219.
두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.
```
print_arithmetic_operation(3, 4)
```
```
3 + 4 = 7
3 - 4 = -1
3 * 4 = 12
3 / 4 = 0.75
```

In [10]:
def print_arithmetic_operation(a, b) :
    print(a, '+', b, '=', a + b)
    print(a, '-', b, '=', a - b)
    print(a, '*', b, '=', a * b)
    print(a, '/', b, '=', a / b)

### 220.
세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [13]:
def print_mas(a, b, c) :
    result = 0
    if a > result :
        result = a
    if b > result :
        result = b
    if c > result :
        result = c
    print(result)

### 221.
입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.
```
print_reverse("python")
```
```
nohtyp
```

In [15]:
def print_reverse(txt) :
    print(txt[::-1])

print_reverse('ABCD')

DCBA

### 222.
성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [18]:
def print_score(scores) :
    print(sum(scores) / len(scores))

print_score([1, 3, 5])

3.0

### 223.
하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [19]:
def print_even(numbers) :
    for i in numbers:
        if i % 2 == 0:
            print(i)

print_even([1,2,3,4,5,6,7,8,9,10])

2
4
6
8
10

### 224.
하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.
```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```
```
이름
나이
성별
```

In [24]:
def print_keys(dic) :
    for i in dic.keys():
        print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0})

이름
나이
성별

### 225.
my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
```
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
```
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.
```
print_value_by_key  (my_dict, "10/26")
```
```
[100, 130, 100, 100]
```

In [25]:
def print_value_by_key(dic, date) :
    print(dic[date])
    
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}

print_value_by_key  (my_dict, "10/26")

[100, 130, 100, 100]

### 226.
입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.
```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [43]:
def print_5xn(string):
    result = []
    if len(result) < 5:
        for i in string:
            result.append(i)
            if len(result) == 5:
                print(''.join(result))
                result = []
        print(''.join(result))

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

### 227.
문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.
```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [42]:
def print_mxn(string, num):
    result = []
    if len(result) < num:
        for i in string:
            result.append(i)
            if len(result) == num:
                print(''.join(result))
                result = []
        print(''.join(result))
        

print_mxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

### 228.
연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.
```
calc_monthly_salary(12000000)
```
```
1000000
```

In [34]:
def calc_monthly_salary(annual_salary) :
    print(round(annual_salary/12))
    
calc_monthly_salary(12333333)

1027778
1027778
<class 'NoneType'>

### 229.
아래 코드의 실행 결과를 예측하라.
```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)
```

왼쪽: 100   
오른쪽: 200

### 230.
아래 코드의 실행 결과를 예측하라.
```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)
```

왼쪽: 200   
오른쪽: 100

### 231.
아래 코드를 실행한 결과를 예상하라.
```
def n_plus_1 (n) :
    result = n + 1

n_plus_1(3)
print (result)
```

result는 함수 내부의 변수이므로, 함수가 실행되었다고 해도 바깥에서 불러낼 수 없다.

### 232.
문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [2]:
def make_url(txt) :
    return ("www.", txt, ".com")

### 233.
문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.
```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [1]:
def make_list(txt) :
    result = []
    for i in txt:
        result.append(i)
    return result

make_list('asdf')

['a', 's', 'd', 'f']

### 234.
숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.
```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [23]:
def pickup_even(a) :
    result = []
    for i in a:
        if i % 2 == 0:
            result.append(i)
    return result

pickup_even([2, 4, 5, 6, 9, 11])

[2, 4, 6]

### 235.
콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.
```
convert_int("1,234,567")
1234567
```

In [18]:
def convert_int(txt) :
    splited = txt.split(",")
    joined = "".join(splited)
    num = int(joined)
    return num
    
convert_int("123,444,556")

123444556

### 236.
아래 코드의 실행 결과를 예측하라.
```
def 함수(num) :
    return num + 4

a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

print(c) = print(함수(b)) = print(함수(함수(a))) = print(함수(함수(함수(10))))   
따라서 22

### 237.
아래 코드의 실행 결과를 예측하라.
```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

22

### 238.
아래 코드의 실행 결과를 예측하라.
```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

140

### 239.
아래 코드의 실행 결과를 예측하라.
```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

16

### 240.
아래 코드의 실행 결과를 예측하라.
```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

28

## 파이썬 모듈

### 241. 현재시간
datetime 모듈을 사용해서 현재 시간을 화면에 출력해보세요.